<div class = "row pinterestGrid">
  <% @pins.each do |pin| %>
    <div class = "col-xs-12 col-sm-6 col-md-3 pin-item">
      <div class="panel panel-default pin">
        <div class="panel-body">
          <%= image_tag(pin.pin_image.url(:medium), class: "img-responsive") %>
        </div>
        <div class="panel-footer">
          <p><%= pin.description %></p>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--<div class = "container">
  <%= render "layouts/all_pins" %>
</div>-->
<!--<p id="notice"><%= notice %></p>
<h1>Listing Pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td>
          <%= image_tag(pin.pin_image.url(:medium)) %>
          <p><%= pin.description %></p>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Show', pin %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path %>
-->
