<%= image_tag(@user.avatar.url(:thumb)) %>
<h2><%= @user.username %></h2>
<%= @user.bio %><br /><br />
  <div class = "row pinterestGrid">
    <% @user.pins.each do |pin| %>
      <div class = "col-xs-12 col-sm-6 col-md-3 pin-item">
        <div class="panel panel-default pin">
          <div class="panel-body">
            <p><strong><%= pin.description %></strong></p>
            <%= link_to image_tag(pin.pin_image.url(:medium), class: "img-responsive"), pin %>
          </div>
          <div class="panel-footer">
            <p><strong><%= link_to pin.user.username, user_path(pin.user.username) %></strong></p>


            <% if pin.user == current_user %>
              <div>
                <%= link_to 'Edit', edit_pin_path(pin) %>
                <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
